// Navigation Styles here

nav{
   
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding:4% 0;
    border-bottom: 2px dashed @navigation-border;
}

   .links{
    margin-left: 62px;
}

.links a{
    margin-left:20px;
    font-size:1.8rem;
    text-decoration: none;
}

